<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar mode="ios">
        <ion-title>HETS</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item detail lines="none" routerLink="/logs">
            <ion-icon name="receipt" slot="start"></ion-icon>
            <ion-label>Transactions</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item detail lines="none" routerLink="/stats">
            <ion-icon name="stats-chart" slot="start"></ion-icon>
            <ion-label>Statistics</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item detail lines="none" (click)="onLogout()" button>
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
