<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Add Log</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onAddLog()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Date</ion-label>
            <ion-datetime
              displayFormat="MMM DD YYYY"
              pickerFormat="DD MMM YY"
              ngModel
              name="date"
              required
            >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Select Department</ion-label>
            <ion-select ngModel="Front Desk Department" name="dept">
              <ion-select-option value="Front Desk Department">Front Desk Department</ion-select-option>
              <ion-select-option value="Human Resource Department">Human Resource Department</ion-select-option>
              <ion-select-option value="Sales & Marketing Department">Sales & Marketing Department</ion-select-option>
              <ion-select-option value="Purchase Department">Purchase Department</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Select Log Type</ion-label>
            <ion-select ngModel="Expense" name="logType">
              <ion-select-option value="Expense">Expense</ion-select-option>
              <ion-select-option value="Income">Income</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Name of the entry: </ion-label>
            <ion-input type="text" ngModel required name="logName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Value of the entry: </ion-label>
            <ion-input type="number" ngModel required name="logValue"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" expand="block" type="submit" [disabled]="!f.valid">
            <ion-icon name="add" slot="start"></ion-icon>
            Add
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
