<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button id="main"></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo" style="color: #db0000; font-family: 'Merriweather', serif; font-size: larger;">Hotel Expense Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="barChart" style="height: 300px;"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" style="font-family: 'Roboto', sans-serif; font-size: 20px; text-align: center; line-height: 1.2;">
          <div style="background-color: white; color: #2dd36f; margin: auto auto;" *ngIf="monthIncome > monthExpense">
            <p>Your hotel is currently running on profit this month.</p>
            <p>Profit is {{ monthIncome - monthExpense | currency }}</p>
          </div>
          <div style="background-color: white; color: #ffc409; margin: auto auto;" *ngIf="monthExpense > monthIncome">
            <p>Your hotel is currently running on loss this month.</p>
            <p>Loss is {{ monthExpense - monthIncome | currency }}</p>
          </div>
          <div style="background-color: white; color: tomato; margin: auto auto;" *ngIf="monthIncome === monthExpense">
            <p>Your transactions are balanced this month.</p>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none">
          <ion-label style="font-size: large; font-family: 'Source Serif Pro', serif;">Average Expense per day : </ion-label>
          <ion-text color="warning">{{ totalExpense/expenseDates | currency }}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none">
          <ion-label style="font-size: large; font-family: 'Source Serif Pro', serif;">Average Income per day : </ion-label>
          <ion-text color="success">{{ totalIncome/incomeDates | currency }}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;" size-sm="6" offset-sm="3">
        <ion-card style="font-family: 'Noto Serif', serif; background-color: #e0e0f5;">
          <div style="font-size: large; font-weight: normal; padding: 4% 1% 1% 1%;">
            <p>Front Desk Department</p>
            <p style="color: #2dd36f;" *ngIf="deptExpense['Front Desk Department'] <= deptIncome['Front Desk Department']">Profit: {{ deptIncome['Front Desk Department'] - deptExpense['Front Desk Department'] | currency }}</p>
            <p style="color: #ffc409;" *ngIf="deptExpense['Front Desk Department'] > deptIncome['Front Desk Department']">Loss: {{ deptExpense['Front Desk Department'] - deptIncome['Front Desk Department'] | currency}}</p>
          </div>
          <div style="font-size: large; font-weight: normal; padding: 1%;">
            <p>Human resource Department</p>
            <p style="color: #2dd36f;" *ngIf="deptExpense['Human Resource Department'] <= deptIncome['Human Resource Department']">Profit: {{ deptIncome['Human Resource Department'] - deptExpense['Human Resource Department'] | currency }}</p>
            <p style="color: #ffc409;" *ngIf="deptExpense['Human Resource Department'] > deptIncome['Human Resource Department']">Loss: {{ deptExpense['Human Resource Department'] - deptIncome['Human Resource Department'] | currency }}</p>
          </div>
          <div style="font-size: large; font-weight: normal; padding: 1% 1% 4% 1%;">
            <p>Sales & Marketing Department</p>
            <p style="color: #2dd36f;" *ngIf="deptExpense['Sales & Marketing Department'] <= deptIncome['Sales & Marketing Department']">Profit: {{ deptIncome['Sales & Marketing Department'] - deptExpense['Sales & Marketing Department'] | currency }}</p>
            <p style="color: #ffc409;" *ngIf="deptExpense['Sales & Marketing Department'] > deptIncome['Sales & Marketing Department']">Loss: {{ deptExpense['Sales & Marketing Department'] - deptIncome['Sales & Marketing Department'] | currency}}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
